html,
body {
    background-image: url("doc/images/sfondo_pale.jpg");
    height: 100%;
    padding: 0;
    margin: 0;
}

div {
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
  line-height: 150px;
}

#div1 {
  background: white;
  opacity: 0;
}

#div1:hover{
    opacity: 0.5;
}


#div2 {
  background: transparent;
}

#div3 {
  background: transparent;
}

#div4 {
  background: transparent;
}
